a:link, a:visited {
	background-color: #ffa76b;
	color: white;
	padding: 30px 50px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: Cursive;
	text-align: center;
	border-radius: 10px;
}
a:hover, a:active {
	background-color: #ff7d36;
}
#White:link, #White:visited {
	background-color: #c1c1c1;
	color: rgb(0, 0, 0);
	padding: 30px 50px;
	text-align: center;
	display: inline-block;
	font-family: Cursive;
}
#White:hover, #White:visited {
	background-color: #ffffff;
}
#Green:link, #Green:visited {
	background-color: #3cb372;
	color: white;
	padding: 30px 50px;
	text-align: center;
	display: inline-block;
	font-family: Cursive;
}
#Green:hover, #Green:active {
	background-color: #3ce271;
}
#Red:link, #Red:visited {
	background-color: #f44336;
	color: white;
	padding: 30px 50px;
	text-align: center;
	display: inline-block;
	font-family: Cursive;
}
#Red:hover, #Red:active {
	background-color: red;
}
#Blue:link, #Blue:visited {
	background-color: #3e8feb;
	color: white;
	padding: 30px 50px;
	text-align: center;
	display: inline-block;
	font-family: Cursive;
}
#Blue:hover, #Blue:active {
	background-color: rgba(6, 108, 204, 0.986);
}
body {
	background-image: url('https://i.imgur.com/ga6EU9y.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
}
#botao {
		background-color: rgb(255, 94, 0);
		color: rgb(0, 0, 0);
		padding: 15px 25px;
		text-align: center;
		font-size: 25px;
		text-decoration: none;
		display: inline-block;
		border: 10px;
		font-family: Serif;
		border-radius: 10px;
}
#botao:hover {
		background-color: #f8a83e;
		color: #4c85ff;
}
#box {
		background-image: url('https://i.imgur.com/gVh6eAJ.png');
		background-repeat: no-repeat;
		background-size: 555px;
		background-position: top;
		padding: 13px;
		font-size: 50px;
		font-family: Cursive;
		border: 10px line yellow;
		background-clip: padding-box;
		vertical-align: top;
}
p {
	width 50%;
	margin: 0 auto;
	text-align: center;
}